name: Main foodgram workflow

on:
  push:
    branches:
      - main
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install flake8==6.0.0 flake8-isort==5.13.2
        pip install -r ./backend/requirements.txt 
    - name: Test with flake8
      run: |
        python -m flake8 backend/

  send_message:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - name: Send message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: ${{ github.actor }} внёс изменения - ${{  github.event.commits[0].message }}.